.abilities {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

li {
    list-style: none;
}

.name {
    margin-bottom: 10px;
    font-size: 18px;
}

.name::first-letter {
    text-transform: uppercase;
}