.header {
    width: 100%;
    padding: 1% 4%;
    background-color: #ef5350;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: #f4f4f4;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ordenation {
    margin-right: 4%;
}

.ordenation select,
.search input {
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.search input {
    padding-left: 5%;
}